
@import url('https://fonts.googleapis.com/css?family=Montserrat:400,700');
html{scroll-behavior:smooth}


.fixed-top {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    z-index: 1030;
  }
  .progress-container {
    width: 100%;
    background-color: transparent;
    height: 12px;
    display: block;
  }
  .progress-bar {
    background-color: rgb(0, 0, 0);
    width: 0%;
    display: block;
    height: inherit;
  }
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  background-color: #ffff;
}


li , a , button , h2 , h3 , h4 , h5 , h6 , p , span , strong , input , textarea , select , option , label , legend , fieldset , form , ul , ol , dl , dt , dd , blockquote , pre , hr , figure , figcaption , details , summary , table , th , td , caption , article , aside , footer , header , nav , section {
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    font-size: 16px;
    color: #000;
    text-decoration: none;
}



/* Header */
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 10%;
}


/* Logo */
.logo{
    cursor: pointer;
}

/* Menu */
.nav_links{ 
    list-style: none;
}

.nav_links li {
    display: inline-block;
    padding: 0 20px;
}

.nav_links li a {
    transition: all 0.3s ease 0s;
}

.nav_links li a:hover {
    color: #0000009f;
}

/* Button */
button {
    padding: 10px 20px;
    border: 1px solid #0000009f;
    border-radius: 50px;
    transition: all 0.3s ease 0s;
    cursor: pointer;
}


button:hover {
    background-color: black;
    color: rgb(0, 0, 0);
}

.btn:hover {
    background-color: black;
    color: #ffff;
}

.btn {
    padding: 10px 20px;
    border: 1px solid #0000009f;
    border-radius: 50px;
    transition: all 0.3s ease 0s;
    cursor: pointer;
}

.lesA a{
    margin-right: 10px;
}

section {
    padding: 100px 10%;
    display: block;
}



/* Section 1 */
.HomeHeroBanner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgb(255, 255, 255);
    overflow: hidden;
    height: 450px;
    width: 100%;
    text-align: center;
     
}

.homeHeroBannerText {
    font-size: 50px;
    font-weight: 700;
    line-height: 1.2;
    margin-bottom: 20px;
    width: auto;
    background-color: rgb(255, 255, 255);
    align-items: center;
    text-align: center;
    display: inline-block;
    padding: 10px;
    position: relative;
    color: #000000;
}

.homeHeroBannerText::after {
    content: '';
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 4px;
    bottom: 0;
    left: 0;
    background-color: #000000;
    transform-origin: bottom right;
    transition: transform 0.25s ease-out;
}


.homeHeroBannerText:hover::after {
    transform: scaleX(1);
    transform-origin: bottom left;
}
.homeHeroBannerText:hover::after {
    opacity: 0.5;
}




/* Section 2 */

.posteOffert {
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    background-color: rgb(246, 246, 246);
    overflow: hidden;
}


table { 
	width: 750px; 
	border-collapse: collapse; 
	margin:50px auto;
	}

/* Zebra striping */
tr:nth-of-type(odd) { 
	background: #eee; 
	}

th { 
	background: #dadada; 
	color: rgb(0, 0, 0); 
	font-weight: bold; 
	}

td, th { 
	padding: 10px; 
	border: 1px solid #ccc; 
	text-align: left; 
	font-size: 18px;
	}

/* 
Max width before this PARTICULAR table gets nasty
This query will take effect for any screen smaller than 760px
and also iPads specifically.
*/
@media 
only screen and (max-width: 760px),
(min-device-width: 768px) and (max-device-width: 1024px)  {

	table { 
	  	width: 100%; 
	}

	/* Force table to not be like tables anymore */
	table, thead, tbody, th, td, tr { 
		display: block; 
	}
	
	/* Hide table headers (but not display: none;, for accessibility) */
	thead tr { 
		position: absolute;
		top: -9999px;
		left: -9999px;
	}
	
	tr { border: 1px solid rgb(0, 0, 0); }
	
	td { 
		/* Behave  like a "row" */
		border: none;
		border-bottom: 1px solid rgb(0, 0, 0); 
		position: relative;
		padding-left: 50%; 
	}

	td:before { 
		/* Now like a table header */
		position: absolute;
		/* Top/left values mimic padding */
		top: 6px;
		left: 6px;
		width: 45%; 
		padding-right: 10px; 
		white-space: nowrap;
		/* Label the data */
		content: attr(data-column);

		color: #000;
		font-weight: bold;
	}

}

.responsive {
    align-items: center;
    width: 100%;
    height: auto;
    background-color: rgb(246, 246, 246);

}

.posteOffertText {
    font-size: 50px;
    font-weight: 700;
    line-height: 1.2;
    width: auto;
    background-color: rgb(246, 246, 246);
    align-items: center;
    text-align: center;
}  

.content{
    align-items: center;
    width: 100%;
    height: auto;
    background-color: rgb(246, 246, 246);
}

.content2{
    align-items: center;
    width: 100%;
    height: auto;
    background-color: rgb(255, 255, 255);
}

.btn-center {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(246, 246, 246);
}

/* Section 3 */

.contact {
    display: flex;
    justify-content: space-between;
    background-color: rgb(255, 255, 255);
    overflow: hidden;
    align-items: center;
    text-align: center;
}


.content1{
    align-items: center;
    width: auto;
    height: auto;
    background-color: rgb(255, 255, 255);
    justify-content: center;

}

.responsive1 {
    align-items: center;
    width: 100%;
    height: auto;
    background-color: rgb(255, 255, 255);
    justify-content: center;
}


.formStyle{
    justify-content: space-between;
    background-color: rgb(255, 255, 255);
    overflow: hidden;
    align-items: center;
    text-align: center;
    padding: 50px;
    margin: 50px;
}

.formStyle input{
    width: 60%;
    height: 50px;
    border: 1px solid #0000009f;
    border-radius: 50px;
    padding: 0 20px;
    margin-bottom: 20px;
    font-size: 16px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    color: #000;
    transition: all 0.3s ease 0s;
}

.formStyle input:focus{
    outline: none;
    border: 1px solid #0000009f;
}

.formStyle textarea{
    width: 60%;
    height: 150px;
    border: 1px solid #0000009f;
    border-radius: 40px;
    padding: 20px;
    margin-bottom: 20px;
    font-size: 16px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    color: #000;
    transition: all 0.3s ease 0s;
}


.formStyle textarea:focus{
    outline: none;
    border: 1px solid #0000009f;
}


.formStyle button{
    width: 100%;
    height: 50px;
    background-color: #0000009f;
    color: #ffff;
    font-size: 16px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    border: 1px solid #0000009f;
    border-radius: 50px;
    transition: all 0.3s ease 0s;
    cursor: pointer;
}

.formStyle button:hover{
    background-color: #0000009f;
    color: #ffff;
    border: 1px solid #0000009f;
}


.formStyle button:focus{
    outline: none;
}




.contactText {
    font-size: 80px;
    font-weight: 700;
    line-height: 1.2;
    width: auto;
    align-items: center;
    text-align: center;
    color: #000000;
    margin-bottom: 50px;
}

.footer {
    display: block;
    justify-content: space-between;
    background-color: rgb(255, 255, 255);
    overflow: hidden;
    align-items: center;
    text-align: center;
    padding: 50px;
}

.footerText , .underline,a {
    width: auto;
    align-items: center;
    text-align: center;
    display: inline-block;
    position: relative;
    color: #000000;
}

.underline::after {
    content: '';
    display: block;
    width: 0;
    height: 2px;
    background: #000000;
    transition: width .3s;
}

.underline:hover::after {
    width: 100%;
    transition: width .3s;
}

.footerText {
    font-size: 50px;
    font-weight: 700;
    line-height: 1.2;
    width: auto;
    align-items: center;
    text-align: center;
    color: #000000;
    margin-bottom: 50px;
}

a {
    font-size: 20px;
    font-weight: 500;
    line-height: 1.2;
    width: auto;
    align-items: center;
    text-align: center;
    color: #000000;
}
/* login */

.login {
    display: flex;
    justify-content: space-between;
    background-color: rgb(255, 255, 255);
    overflow: hidden;
    align-items: center;
    text-align: center;
    padding: 50px;
}


.loginText {
    font-size: 80px;
    font-weight: 700;
    line-height: 1.2;
    width: auto;
    align-items: center;
    text-align: center;
    color: #000000;
    margin-bottom: 50px;
}


.loginForm {
    justify-content: space-between;
    background-color: rgb(255, 255, 255);
    overflow: hidden;
    align-items: center;
    text-align: center;
    padding: 50px;
    margin: 50px;
    margin-bottom: 0px;
    padding-bottom: 3px;
}

.loginForm input{
    width: 60%;
    height: 50px;
    border: 1px solid #0000009f;
    border-radius: 50px;
    padding: 0 20px;
    margin-bottom: 20px;
    font-size: 16px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    color: #000;
    transition: all 0.3s ease 0s;
}

.loginForm input:focus{
    outline: none;
    border: 1px solid #0000009f;
}

.loginForm button{
    width: 500px;
    height: 50px;
    background-color: #ffffff9f;
    color: rgb(0, 0, 0);
    font-size: 16px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    border: 1px solid #0000009f;
    border-radius: 50px;
    transition: all 0.3s ease 0s;
    cursor: pointer;
}

.loginForm button:hover{
    background-color: #000000;
    color: #ffff;
    border: 1px solid #000000;
}


.loginForm button:focus{
    outline: none;
}

.content4{
    align-items: center;
    width: 100%;
    height: auto;
    background-color: rgb(255, 255, 255);
}

.responsive4 {
    align-items: center;
    width: 100%;
    height: auto;
    background-color: rgb(255, 255, 255);

}


.loginForm button:hover{
    background-color: #000000;
    color: #ffff;
    border: 1px solid #000000;
}


.loginForm button:focus{
    outline: none;
}


.errorMsg > p{
    color: red;
    font-size: 18px;
    font-weight: 500;
    line-height: 1.2;
    width: auto;
    align-items: center;
    text-align: center;
    margin-bottom: 50px;

}	

.errorP{
    background-color: rgb(246, 246, 246);
    color: red;
    font-size: 18px;
    font-weight: 500;
    line-height: 1.2;
    width: auto;
    align-items: center;
    text-align: center;
    margin-bottom: 50px
}


.hide{
    display: none;
}

.show{
    display: block;
}


/* register */

.inscription {
    display: flex;
    justify-content: space-between;
    background-color: rgb(255, 255, 255);
    overflow: hidden;
    align-items: center;
    text-align: center;
    padding: 50px;
}


.inscriptionText {
    font-size: 80px;
    font-weight: 700;
    line-height: 1.2;
    width: auto;
    align-items: center;
    text-align: center;
    color: #000000;
}


.inscriptionForm {
    justify-content: space-between;
    background-color: rgb(255, 255, 255);
    overflow: hidden;
    align-items: center;
    text-align: center;
    padding: 30px;
    margin: 50px;
}


.inscriptionForm input{
    width: 40%;
    height: 50px;
    border: 1px solid #0000009f;
    border-radius: 50px;
    padding: 0 20px;
    margin-bottom: 20px;
    font-size: 16px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    color: #000;
    transition: all 0.3s ease 0s;
}


.inscriptionForm input:focus{
    outline: none;
    border: 1px solid #0000009f;
}



.inscriptionForm button{
    width: 400px;
    height: 50px;
    background-color: #ffffff9f;
    color: rgb(0, 0, 0);
    font-size: 16px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    border: 1px solid #0000009f;
    border-radius: 50px;
    transition: all 0.3s ease 0s;
    cursor: pointer;
    margin-bottom: 20px;
}


.inscriptionForm button:hover{
    background-color: #000000;
    color: #ffff;
    border: 1px solid #000000;
}


.inscriptionForm button:focus{
    outline: none;
}


.content5{
    align-items: center;
    width: 100%;
    height: auto;
    background-color: rgb(255, 255, 255);
}


.responsive5 {
    align-items: center;
    width: 100%;
    height: auto;
    background-color: rgb(255, 255, 255);
}


.inscriptionForm button:hover{
    background-color: #000000;
    color: #ffff;
    border: 1px solid #000000;
}


.inscriptionForm button:focus{
    outline: none;
}


.moncv{
    align-items: center;
    width: 100%;
    height: auto;
    background-color: rgb(255, 255, 255);
    padding: 0;
    margin: 0;
}


.responsive6 {
    align-items: center;
    width: 100%;
    height: auto;
    background-color: rgb(255, 255, 255);
}

.content6{
    align-items: center;
    width: 100%;
    height: auto;
    background-color: rgb(255, 255, 255);
    text-align: center;
}

.moncvText {
    font-size: 30px;
    font-weight: 700;
    line-height: 1.2;
    width: auto;
    align-items: center;
    text-align: center;
    color: #000000;
}


.moncvForm {
    justify-content: space-between;
    background-color: rgb(255, 255, 255);
    overflow: hidden;
    align-items: center;
    text-align: center;
    padding: 30px;
    margin: 50px;
}



.moncvForm input {
    width: 40%;
    height: 50px;
    border: 1px solid #0000009f;
    border-radius: 50px;
    padding: 0 20px;
    margin-bottom: 20px;
    font-size: 16px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    color: #000;
    transition: all 0.3s ease 0s;
}


.moncvForm input:focus{
    outline: none;
    border: 1px solid #0000009f;
}



.moncvForm button{
    width: 400px;
    height: 50px;
    background-color: #ffffff9f;
    color: rgb(0, 0, 0);
    font-size: 16px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    border: 1px solid #0000009f;
    border-radius: 50px;
    transition: all 0.3s ease 0s;
    cursor: pointer;
    margin-bottom: 20px;
}


.moncvForm button:hover{
    background-color: #000000;
    color: #ffff;
    border: 1px solid #000000;
}


.moncvForm button:focus{
    outline: none;
}


.moncvForm button:hover{
    background-color: #000000;
    color: #ffff;
    border: 1px solid #000000;
}


.moncvForm button:focus{
    outline: none;
}


.moncvForm label{
    font-size: 20px;
    font-weight: 700;
    line-height: 1.2;
    width: auto;
    align-items: center;
    text-align: center;
    color: #000000;

}

.moncvForm textarea{
    width: 40%;
    height: 200px;
    border: 1px solid #0000009f;
    border-radius: 20px;
    padding: 0 20px;
    margin-bottom: 20px;
    font-size: 16px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    color: #000;
    transition: all 0.3s ease 0s;
}


.moncvForm textarea:focus{
    outline: none;
    border: 1px solid #0000009f;
}

.moncvForm select{
    width: 40%;
    height: 50px;
    border: 1px solid #0000009f;
    border-radius: 50px;
    padding: 0 20px;
    margin-bottom: 20px;
    font-size: 16px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    color: #000;
    transition: all 0.3s ease 0s;
}

.alert{
    display: none;
}